---
layout: default
title: Burning Ear
permalink: burning-ear
---

<!-- Main -->
	<article id="main">

		<header class="special container">
			<!--<span class="icon fa-tablet"></span>-->
			<span class="icon"><img src="images/wlh.png" alt="Wade L Hankins" width="70" class="emblem"/></span>
			<h2><strong>Burning</strong> Ear</h2>
			<p>Word of Wisdom, Word of Knowledge, Discerning of Spirits, and the Ministry of Angels</p>
		</header>

		<!-- One -->
			<section class="wrapper style4 container">

				<div class="row 150%">
					<div class="8u 12u(narrower)">

						<!-- Content -->
							<div class="content">
								<section>
									<a href="#" class="image featured"><img src="images/burning-ear-banner.jpg" alt="" /></a>
									<header>
										<h3>In Burning Ear, Wade will provide you with coaching and teaching to help you discover and understand revelation gifts; Word of Wisdom, Word of Knowledge, Discerning of Spirits, and the Ministry of Angels.</h3>
									</header>
									<p>You determine the areas that you want to pursue. One of the foundational issues in Burning Ear is the role of prophetic processing. During the Burning Ear coaching track, you will have conversations with Wade that will usher in fresh insights and bring the prophetic words you have re-ceived to life.</p>
									<p>You will learn the “3 parts” of prophetic processing.
									In Burning Ear you will learn about the times and seasons of fulfillment. Here’s a scripture that brings hope for future fulfill-ment. Until the time that his word came to pass, the word of the LORD tested him (Psalm 105:19).</p>
									{% include dreams.html %}
								</section>
							</div>

					</div>
					{% include sidebar.html %}
				</div>
			</section>


	</article>
