---
layout: default
title: About Wade Hankins
permalink: my-story
banner: mystory.jpg
---

<!-- Main -->
	<article id="main">

		<header class="special container">
			<!--<span class="icon fa-tablet"></span>-->
			{% include emblem.html %}
			<h2>My<strong> Story</strong></h2>
			<p>What is your story? Good question?</p>
		</header>

		<!-- One -->
			<section class="wrapper style4 container">

				<div class="row 150%">
					<div class="8u 12u(narrower)">

						<!-- Content -->
							<div class="content">
								<section>
									<a href="#" class="image featured"><img src="images/{{page.banner}}" alt="" /></a>
									<header>
										<h3><strong>Your story is filled with signs of God’s hand at work—both seen and unseen.</strong></h3>
									</header>
									<p> Make no mistake, He has been there from the time you were born—all along.</p>
									<p>
										Wade will coach you through a four-hour intensive survey of your life. Through the day, Wade will be uncovering new insights into your life. He will give you your own My Story Journal complete with a detailed life compilation; the clear marks of God hidden in your childhood, your school days, your relationships, your work, and your desires. These gems are clues that when pinpointed, propel you toward your New Future. This will help change your story!
									</p>
									<p>
										Here are a few foundational scriptures.
									</p>
									<p>
										<strong>God created you and He knows your Story intimately—</strong>
									</p>
									<p>
										<i>For you created my inmost being; you knit me together in my mother's womb.</i> (Psalm 139:13)
									</p>
									<p>
										<strong>God wrote the days of your life in His book in advance—</strong>
									</p>
									<p>
										<i>All the days ordained for me were written in your book before one of them came to be. </i> (Psalm 139:16)
									</p>
									<p>
										<strong>God created the time of your birth and the exact places where you would live—</strong>
									</p>
									<p>
										<i>He determined the times set for them and the exact places where they should live. </i> (Acts 17:26)
									</p>
									{% include my-story-book.html %}
									{% include dream-book.html %}
								</section>
							</div>

					</div>
					{% include sidebar.html %}
				</div>
			</section>


	</article>
