---
layout: default
title: Quest
permalink: quest
banner: quest2.jpg
---

<!-- Main -->
	<article id="main">

		<header class="special container">
			<!--<span class="icon fa-tablet"></span>-->
			{% include emblem.html %}
			<h2><strong>{{page.title}}</strong></h2>
			<p>Quest people get coaching, training, travel, and fun.</p>
		</header>

		<!-- One -->
			<section class="wrapper style4 container">

				<div class="row 150%">
					<div class="8u 12u(narrower)">

						<!-- Content -->
							<div class="content">
								<section>
									<a href="#" class="image featured"><img src="images/{{page.banner}}" alt="" /></a>
									<header>
										<h3>The Quest is a unique opportunity for a handful of people who are free to go with Wade into new life giving adventures. Quest people get coaching, training, travel, and fun. They have time and resources to travel with Wade to destinations designed to bring fresh insights for their personal transformation.</h3>
									</header>
									<p>The Quest is for people who sense God leading them to new places, to get away, to begin an inward journey. Several times in the Bible people are called to get away, to go to another place. It is in these “away places” that God meets them intimately, to begin a New Future.
									The Quest is for people who feel that they are beginning a new season. There’s a longing for more life with God and one another that calls to them. Your new season begins with letting go of the old to grab the new thing that God is doing with you.</p>
									<p>In this place of discovery and change God is saying; “Forget the former things; do not dwell on the past. See, I am doing a new thing! Now it springs up; do you not perceive it? I am making a way in the wilderness and streams in the wasteland.” (Isaiah 43:18, 19)</p>
									<header>
										<h3><strong>This is for you. Get going!</strong></h3>
									</header>
									<a href="#" class="image"><img src="images/couple.jpg" alt="A couple having fun in the sun" width="80%"/></a>
								</section>
							</div>

					</div>
					{% include sidebar.html %}
				</div>
			</section>


	</article>
