<!-- Banner -->
	<section id="banner">

		<!--
			".inner" is set up as an inline-block so it automatically expands
			in both directions to fit whatever's inside it. This means it won't
			automatically wrap lines, so be sure to use line breaks where
			appropriate (<br />).
		-->
		<!--<div class="inner">
			<header>
				<h2>{{ site.title }}</h2>
			</header>
			<p>This is your <strong>{{ site.title }}</strong>,
			<br />
			a food ministry in
			<br />
			Kansas City, Missouri.</p>
			<footer>
				<ul class="buttons vertical">
					<li><a href="about.html" class="button fit scrolly">More Info</a></li>
				</ul>
			</footer>

		</div>-->

	</section>
