<a href="#" class="image featured"><img src="images/dreams.jpg" alt="Wake up to dreams" /></a>
<header>
  <h3><strong>Understanding Dreams</strong></h3>
</header>
<p>God does speak—now one way, now another— though man may not perceive it. In a dream, in a vision of the night, when deep sleep falls on men as they slumber in their beds (Job 33:14-18).</p>
<p>
  The simple truth is that we sleep about one-third of our lives. The question is, “Is there purpose and meaning to the dreams you have?” Are there symbolic meanings in your dreams that point to things that God wants you to know? What about this?
</p>
<p>
  Wade is well-known for teaching and coaching people through understanding their dreams. When Wade coaches you the Holy Spirit will lead you to understand the way God is speaking to you.
</p>
<p>
  You will learn how to develop and keep a dream journal that you can refer to. When Wade is your coach, he brings all of his life experience and resources together for your benefit.
</p>
