<!-- CTA -->
	<section id="cta">

		<header>
			<h2>Ready to build your <strong>New Future</strong>?</h2>
			<p>Wade wants to partner with you to design a coaching strategy that gets where you want to go. His work with you will not be based on an hourly fee. Your personal growth is about results. Your coaching plan will propel you into a new future. Call the Online Studio Monday-Friday from 10:00 AM to 5:00 PM to get started.</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="contact.html" class="button special">Contact Us</a></li>
				<li><a href="contact.html" class="button">Find Us</a></li>
			</ul>
		</footer>

	</section>

<footer id="footer">

  <ul class="icons">
    <li><a href="https://www.facebook.com/Missouritile/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; 2016 {{ site.title }}</li><li> Designed by <a href="http://zachdyerdesign.com">Zach Dyer Design</a></li>
  </ul>

</footer>
