<nav id="nav">
  <ul>
    <li><a href="tel:+1 417 889 8453" class="call">Call Now</a></li>
    <li {% if page.url == '/' %}class='current'{% endif %}><a href="index.html">Coaching</a></li>
    <li {% if page.url == '/my-story' %}class='current'{% endif %}><a href="my-story">My Story</a></li>
    <li {% if page.url == '/burning-ear' %}class='current'{% endif %}><a href="burning-ear">Burning Ear</a></li>
    <li {% if page.url == '/quest' %}class='current'{% endif %}><a href="quest">Quest</a></li>
    <li {% if page.url == '/payment' %}class='current'{% endif %}><a href="payment">Payment</a></li>
    <li><a href="contact" class="button special">Contact</a></li>
    <!--<li class="submenu">
      <a href="#">Submenu</a>
      <ul>
        <li><a href="#">Dolore Sed</a></li>
        <li><a href="#">Consequat</a></li>
        <li><a href="#">Lorem Magna</a></li>
        <li><a href="#">Sed Magna</a></li>
        <li><a href="#">Ipsum Nisl</a></li>
      </ul>
    </li>-->
  </ul>
</nav>
