<nav id="nav">
  <ul>
    <li><a href="tel:+1 417 889 8453" class="call">Call Now</a></li>
    <li {% if page.url == '/' %}class='current'{% endif %}><a href="/">Welcome</a></li>
    <li {% if page.url == '/showroom.html' %}class='current'{% endif %}><a href="/showroom.html">Showroom</a></li>
    <li><a href="https://www.youtube.com/watch?v=mGEP0qlMfqc&list=PL52CD42jWvvSJzK5dOjUuP5DtwWTekZRZ" target="_blank">Video</a></li>
    <li {% if page.url == '/products.html' %}class='current'{% endif %}><a href="/products.html">Products</a></li>
    <li class="submenu">
      <a href="/galleries/">Galleries</a>
      <ul>
        <li><a href="/galleries/kitchens.html">Kitchens</a></li>
        <li><a href="/galleries/bathrooms.html">Bathrooms</a></li>
        <li><a href="/galleries/outdoors.html">Outdoors</a></li>
        <li><a href="/galleries/commercial.html">Commercial</a></li>
        <li><a href="/galleries/backsplash.html">Backsplash</a></li>
        <li><a href="/galleries/wetbar.html">Wetbar</a></li>
        <li><a href="/galleries/fireplace.html">Fireplace</a></li>
        <!--<li class="submenu">
          <a href="#">Submenu</a>
          <ul>
            <li><a href="#">Dolore Sed</a></li>
            <li><a href="#">Consequat</a></li>
            <li><a href="#">Lorem Magna</a></li>
            <li><a href="#">Sed Magna</a></li>
            <li><a href="#">Ipsum Nisl</a></li>
          </ul>
        </li>-->
      </ul>
    </li>
    <li><a href="/contact.html" class="button special">Contact</a></li>
  </ul>
</nav>
