<nav id="nav">
  <ul>
    <li><a href="tel:+1 417 889 8453" class="call">Call Now</a></li>
    <li {% if page.url == '/index.html' %}class='current'{% endif %}><a href="index.html">Welcome</a></li>
    <li {% if page.url == '/about.html' %}class='current'{% endif %}><a href="about.html">About</a></li>
    <li {% if page.url == '/donate.html' %}class='current'{% endif %}><a href="donate.html">Donate</a></li>
    <li {% if page.url == '/video.html' %}class='current'{% endif %}><a href="video.html">Video</a></li>
    <li><a href="contact.html" class="button special">Contact</a></li>
    <!--<li class="submenu">
      <a href="#">Submenu</a>
      <ul>
        <li><a href="#">Dolore Sed</a></li>
        <li><a href="#">Consequat</a></li>
        <li><a href="#">Lorem Magna</a></li>
        <li><a href="#">Sed Magna</a></li>
        <li><a href="#">Ipsum Nisl</a></li>
      </ul>
    </li>-->
  </ul>
</nav>
